/*Botões*/

.botao1 {
    position: absolute;
    width: 139px;
    height: 48px;
    left: 16px;
    top: 106px;
    background: var(--cor--fundo--botao);
    border-radius: 8px;
    border: none;
}

.texto__botao1 {
    position: absolute;
    width: 107px;
    height: 22px;
    left: 16px;
    top: 13px;
    font-family: var(--fonte-principal);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--branco)
}

.botao2 {
    box-sizing: border-box;
    position: absolute;
    width: 139px;
    height: 48px;
    left: 173px;
    top: 106px;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 8px;
}

.texto__botao2 {
    position: absolute;
    width: 108px;
    height: 22px;
    left: 16px;
    top: 13px;
    font-family: var(--fonte-principal);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--cor--titulo--doctor);
}

/* Botão Ver Endereço */

.botao__endereco {
    position: absolute;
    width: 296px;
    height: 48px;
    left: 16px;
    top: 106px;
    background: var(--cor--botao--azul);
    box-shadow: 0px 4px 16px rgba(72, 148, 255, 0.16);
    border-radius: 8px;
    border: none;
}

.ver__endereco {
    position: absolute;
    width: 202.3px;
    height: 22px;
    left: 100px;
    top: 13px;
    font-family: var(--fonte-principal);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--branco);
    
}